.header {
    background: $dark-blue;
}

.header__title {
    color: white;
    text-decoration: none; //clear default text decoration, _
    h1 {
        margin: 0;
    }
}

.header__content {
    display: flex;
    justify-content: space-between; //distribute leftover space btw 2 things
    align-items: center;
    padding: $s-size 0; //top and bottom
}